### Librería Pandas

Libreria que nos permite trabajar con dataframes (tablas). Trabaja sobre series.

https://pandas.pydata.org/pandas-docs/stable/

In [91]:
# Importación librería 
import pandas as pd
import numpy as np

In [92]:
df =pd.DataFrame(np.array([[1,2],[3,4],[2,3],[4,5]]),columns=['a','b']) # Creamos un dataframe 
df.apply(lambda x: x+3) # Aplicamos la formula x+3 usando lambda

   a  b
0  4  5
1  6  7
2  5  6
3  7  8

In [93]:
df =pd.DataFrame(np.array([[1,2],[3,4],[2,3],[4,5]]),columns=['a','b']) # Creamos un dataframe 
df['a'] = df.apply(lambda x:x['a']+3,axis=1) # Aplicamos la formula x+3 a la columna a
df

   a  b
0  4  2
1  6  4
2  5  3
3  7  5

##### SERIES

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [94]:
array = np.random.randint(1, 50,5)
print(array)

# Creamos series desde un array de numpy, *Un DataFrame es un conjunto de series
series = pd.Series(array)
series

[28  6 20 33  2]

0    28
1     6
2    20
3    33
4     2
dtype: int32

In [95]:
series?

Type:        Series
String form:
0    28
1     6
2    20
3    33
4     2
dtype: int32
Length:      5
File:        c:\users\pauri\appdata\roaming\python\python313\site-packages\pandas\core\series.py
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.

In [96]:
# Series funciones
print(type(series.values))
print(type(series.index))
print(series.values)
print(series.index)

<class 'numpy.ndarray'>
<class 'pandas.core.indexes.range.RangeIndex'>
[28  6 20 33  2]
RangeIndex(start=0, stop=5, step=1)

In [97]:
# Podemos cambiar el indice 
series.index = [list('abcde')]
print(series)

a    28
b     6
c    20
d    33
e     2
dtype: int32

In [98]:
# indexació
print(series[0])
print(series['a'])
print(series[1:3])
print(series[['e','d']])

28
28
b     6
c    20
dtype: int32
e     2
d    33
dtype: int32

C:\Users\pauri\AppData\Local\Temp\ipykernel_25620\546619619.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[0])

In [99]:
# Transformaciones
data = {'a': 0., 'b':1., 'c': 2.} # Creamos un diccionario
serie1 = pd.Series(data) # Creamos una serie de pandas a raiz del diccionario

In [100]:
serie1

a    0.0
b    1.0
c    2.0
dtype: float64

In [101]:
# condiciones
serie1 > 0

a    False
b     True
c     True
dtype: bool

In [102]:
serie1[serie1 > 0] # Filramos a raiz de una condición

b    1.0
c    2.0
dtype: float64

In [103]:
serie2 = pd.Series(['Lamine Yamal','Joan Garcia','Eric Garcia','Pau Cubarsí'])
serie2

0    Lamine Yamal
1     Joan Garcia
2     Eric Garcia
3     Pau Cubarsí
dtype: object

In [104]:
serie2?

Type:        Series
String form:
0    Lamine Yamal
1     Joan Garcia
2     Eric Garcia
3     Pau Cubarsí
dtype: object
Length:      4
File:        c:\users\pauri\appdata\roaming\python\python313\site-packages\pandas\core\series.py
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.

In [105]:
prueba = serie2.str.split(expand=True) # haznos un split por el espacio (por defecto) y expandes la dimension a otra serie
prueba

        0        1
0  Lamine    Yamal
1    Joan   Garcia
2    Eric   Garcia
3     Pau  Cubarsí

In [106]:
prueba1 = serie2.str.split('a',expand=True) # haznos un split por a y expandes la dimension a otra serie
prueba1

        0       1    2     3
0       L  mine Y    m     l
1      Jo     n G  rci
2  Eric G     rci       None
3       P   u Cub  rsí  None

In [107]:
prueba?

Type:        DataFrame
String form:
        0        1
0  Lamine    Yamal
1    Joan   Garcia
2    Eric   Garcia
3     Pau  Cubarsí
Length:      4
File:        c:\users\pauri\appdata\roaming\python\python313\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3

In [108]:
serie2.columns = ['nombre','apellido'] # Le damos nombre a las columnas

In [109]:
serie2.columns

['nombre', 'apellido']

In [110]:
serie2.sort_values(ascending=True) # ordenamos

2     Eric Garcia
1     Joan Garcia
0    Lamine Yamal
3     Pau Cubarsí
dtype: object

In [111]:
s1 = pd.Series(np.random.randn(500))
s2 = pd.Series(np.random.randn(500))

print(s1.corr(s2)) # correlación entre series
print(s1.cov(s2)) # Covarianza entre vectores

-0.09087928183376388
-0.08967302223452864

##### DataFrames

In [112]:
data = [['lucia', 10], ['marta',15],['ana',14]] # creamos un array con tres arrays como elementos
data

[['lucia', 10], ['marta', 15], ['ana', 14]]

In [113]:
df0 = pd.DataFrame(data, columns = ['nombre','edad']) # Creamos el dataframe con los arrays anteriores, definiendo los nombres de las columnas
df0

  nombre  edad
0  lucia    10
1  marta    15
2    ana    14

In [114]:
# Creamos dataframes desde listas
nombre  = ['lucia','marta','ana']
edad = [10, 15, 14]
lista = list(zip(nombre,edad)) # con la función zip juntamos dos arrays distnitos, tienen que tener la misma dimensión los arrays
lista

[('lucia', 10), ('marta', 15), ('ana', 14)]

In [116]:
df1 = pd.DataFrame([nombre,edad])
df1 = df1.T # Aplicamos la traspuesta
df1.columns = ['nombre','edad']
df1

  nombre edad
0  lucia   10
1  marta   15
2    ana   14

In [118]:
# Creamos dataframes desde diccionarios
data = {'1-edad':[10,15,14], '0-nombre':['lucia','marta','ana']} # diccionario de arrays
df2 = pd.DataFrame(data)
df2

   1-edad 0-nombre
0      10    lucia
1      15    marta
2      14      ana

In [120]:
lista = [{'nombre':'juan','edad':18},{'nombre':'hugo','edad':19}] # array de diccionarios
pd.DataFrame(lista)

  nombre  edad
0   juan    18
1   hugo    19

##### Filtración en dataframes

In [121]:
# Condicionados
df1[df1['edad'] >10]

  nombre edad
1  marta   15
2    ana   14

In [124]:
# multicondicion
df1[(df1['edad'] >10) & (df1['nombre'].str.len()>3)] #edad mayor a 10 y texto mayor a tres

  nombre edad
1  marta   15

In [127]:
# borrar columnas
df1.drop(columns=['nombre'])

  edad
0   10
1   15
2   14